.navigation{
	&__list{
		display: none;
		width: 100%;
		padding-top: 70px;
		padding-right: 15px;
		box-sizing: border-box;
		text-align: center;
		&__item{
			display: block;
			padding: 15px;
			padding-top: 10px;
			transition: 0.5s;
			border-top: 2px solid transparent;
			&__link{
			color: $brand-white;
			}
			&:hover{
				transition: 0.5s;
				border-color: $brand-line;
			}
		}
	}
	&__hamburger{
		float: right;
		padding-right: 15px;
		padding-top: 20px;
		&__item{
			background-color: $brand-white;
			width: 25px;
			height: 3px;
			margin: 5px 0;
		}
	}
}